html {
	--silver: #808080;
	--white: #fff;
	--black: #000;
	--whitesmoke: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
	html {
		--white: #000;
		--black: #fff;
		--whitesmoke: #202020;
	}
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: var(--black);
	font-family: "Route 159", sans-serif;
	font-size: 14.5px;
	line-height: 24px;
}

a { text-decoration: none; }

.left, .right {
	float: left;
	height: calc(100vh - 20px);
	padding: 10px 0;
	width: 50%;
}

.left { background-color: var(--whitesmoke); }

.right { background-color: var(--white); }

textarea {
	background-color: var(--whitesmoke);;
	border: 0 none;
	color: var(--black);
	font-family: "Route 159", sans-serif;
	font-size: 14.5px;
	line-height: 25px;
	overflow: hidden;
	padding: 0 15px;
	resize: none;
	width: calc(100% - 30px);
}

textarea:focus { outline: 0 none; }

#response p {
	border-bottom: var(--whitesmoke) 1px solid;
	overflow: hidden;
	padding: 0 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#response p:last-child { border-bottom: 0 none; }

.buttons {
	bottom: 15px;
	position: absolute;
	right: 15px;
	line-height: 24px;
}

.buttons a {
	background-color: var(--black);
	border-radius: 12px;
	color: var(--white);
	display: block;
	height: 24px;
	text-align: center;
	width: 24px;
}

@font-face {
	font-family: "Route 159";
	font-style: normal;
	font-weight: normal;
	src: url(/route159/regular.woff2) format("woff2");
}

@font-face {
	font-family: "Route 159";
	font-style: normal;
	font-weight: bold;
	src: url(/route159/bold.woff2) format("woff2");
}
