html {
	--white: #fff;
	--whitesmoke: #f0f0f0;
	--silver: #808080;
	--black: #000;
}

@media (prefers-color-scheme: dark) {
	html {
		--white: #000;
		--whitesmoke: #202020;
		--black: #fff;
	}
}

* { margin: 0; padding: 0; }

body {
	cursor: default;
	color: var(--black);
	font-family: "Route 159", sans-serif;
	font-size: 14px;
	line-height: 20px;
}

img { display: block; float: left; margin-left: -50px; }

a {
	color: var(--black);
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s;
}
	a:hover { color: var(--silver); }

.center { margin: 0 auto; max-width: 300px; }

.alt, .trans { overflow: hidden; }

.alt { background-color: var(--whitesmoke); }
	.alt img { background-color: var(--white); }

.trans { background-color: var(--white); }
	.trans img { background-color: var(--whitesmoke); }

.links {
	margin-bottom: 10px;
	padding-left: 50px;
	overflow: hidden;
}
	.links p { float: left; width: 50%; }
	.links img { border-radius: 5px; margin-top: 5px; }

.product {
	height: 40px;
	overflow: hidden;
	margin-bottom: 10px;
	padding-left: 50px;
}
	.product img { border-radius: 8px; }

.meta {
	font-size: 10px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
}

@font-face {
	font-family: "Route 159";
	font-style: normal;
	font-weight: normal;
	src: url(/route159/regular.woff2) format("woff2");
}

@font-face {
	font-family: "Route 159";
	font-style: normal;
	font-weight: bold;
	src: url(/route159/bold.woff2) format("woff2");
}
