html {
	--tiny: 10px;
	--regular: 14px;
	--white: #fff;
	--whitesmoke: #f0f0f0;
	--gainsboro: #e0e0e0;
	--silver: #c0c0c0;
	--gray: #808080;
	--black: #000;
}

@media (prefers-color-scheme: dark) {
	html {
		--white: #000;
		--whitesmoke: #202020;
		--gainsboro: #303030;
		--silver: #404040;
		--black: #fff;
	}
}

* { margin: 0; padding: 0; }

body {
	background-color: var(--white);
	cursor: default;
	color: var(--black);
	font-family: "Route 159", sans-serif;
	font-size: var(--regular);
	line-height: 20px;
}

a {
	color: var(--black);
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover { color: var(--gray); }

sup {
	color: var(--gray);
	font-size: var(--tiny);
	line-height: 0;
	margin-left: 2px;
}

svg { stroke-linecap: round; stroke-linejoin: round; stroke-width: 2; }
svg path { fill: none; stroke: var(--black); }

.center { margin: 0 auto; max-width: 300px; }

.alt, .trans { overflow: hidden; }
.alt { background-color: var(--whitesmoke); }
.trans { background-color: var(--white); }
.trans:first-child { padding-top: 10px; }

.links { margin-bottom: 10px; overflow: hidden; }
.links p { float: left; width: 50%; }

.product {
	height: 40px;
	margin-bottom: 10px;
	overflow: hidden;
	padding-left: 46px;
}

.product svg {
	background-color: var(--white);
	border: var(--gainsboro) 1px solid;
	border-radius: 9px;
	float: left;
	margin: 2px 0;
	margin-left: -46px;
	padding: 9px;
}

.meta {
	color: var(--gray);
	font-size: var(--tiny);
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
}

@font-face {
	font-family: "Route 159";
	font-style: normal;
	font-weight: normal;
	src: url(/route159/regular.woff2) format("woff2");
}

@font-face {
	font-family: "Route 159";
	font-style: normal;
	font-weight: bold;
	src: url(/route159/bold.woff2) format("woff2");
}
