html {
	--tiny: 10px;
	--regular: 14px;
	--white: #fff;
	--whitesmoke: #f0f0f0;
	--gainsboro: #e0e0e0;
	--silver: #c0c0c0;
	--gray: #808080;
	--black: #000;
}

* { margin: 0; padding: 0; }

body {
	background-color: var(--silver);
	cursor: default;
	color: var(--black);
	font-family: "Route 159", sans-serif;
	font-size: var(--regular);
	line-height: 20px;
}

a {
	color: var(--black);
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover { color: var(--gray); }

sup {
	color: var(--gray);
	font-size: var(--tiny);
	line-height: 0;
	margin-left: 2px;
}

.center { margin: 0 auto; max-width: 300px; }

.block { overflow: hidden; }
.teal { background-color: #00A99D; }
.green { background-color: #8CC63F; }
.orange { background-color: #FBB03B; }
.cyan { background-color: #29ABE2; }
.trans { background-color: transparent; }
.trans:first-child { padding: 15px 0; }

.links { margin-bottom: 10px; overflow: hidden; }
.links p { float: left; width: 50%; }

.logo {
	height: 30px;
}

.logo svg {
	display: block;
	margin: 0 auto;
}

.product {
	margin-bottom: 10px;
	overflow: hidden;
	padding-left: 50px;
}

.product svg {
	/* background-color: var(--silver);
	border: var(--silver) 2px solid;
	border-radius: 9px; */
	float: left;
	margin-left: -50px;
	padding: 10px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 1.5;
}

.product svg path {
	fill: none;
	stroke: var(--black);
}

.trans .product svg {
	background-color: var(--whitesmoke);
	border: var(--white) 2px solid;
}

.meta {
	color: var(--white);
	font-size: var(--tiny);
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
}

@font-face {
	font-family: "Route 159";
	font-style: normal;
	font-weight: normal;
	src: url(route159/regular.woff2) format("woff2");
}

@font-face {
	font-family: "Route 159";
	font-style: normal;
	font-weight: bold;
	src: url(route159/bold.woff2) format("woff2");
}
